<html>
	<head>
		<link href="css/styles.css" rel="stylesheet">
	<title>  </title>
	</head>
	<body bgcolor="#E6E6FA">
		<header id="h1">
			<h1>Change Machine</h1><hr class="style18">
			<center><a class="money_green" href = '/'>Enter New Amount</a></center>
		</header>
		<p>
		<center><%=yield%></center>
		</p>
		<footer>
			<center><a href="https://www.usmint.gov/">Visit the United States Mint</a></center>
		</footer>
	</body>
</html>
